{% extends 'base.html' %}

{% block title %}
    About page
{% endblock %}

{% block body %}
    <h1>ABOUT PAGE</h1>
    <div class="container">
        <h2>Author</h2>
        <p>Maxim Shcherbachenko, Laboratory 3</p>
        <h2>About</h2>
        <p>This site represents very clear version on web service with movie collection.</p>
        <div class="row">
            <div class="col-12 col-md-4">
                <h6 class="text-muted">Constituents list</h6>
                <ul>
                    <li>Simple interface</li>
                    <li>CRUD operations</li>
                    <li>One to many relationship within postgreSQL database</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}