{% extends 'base.html' %}

{% block title %}
    Edit comment
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit comment</h1>
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Write your comment</label>
                <input type="text" class="form-control" id="text" name="text"
                       value="{{ comment.text }}" placeholder="Write your comment">
            </div>
            <input type="submit" class="btn btn-success" value="Update">
        </form>
    </div>
{% endblock %}